body.cuerpo {
  margin: 0;
  padding: 0;
}

.contenedor-principal {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.lado-izquierdo {
  position: relative;
  width: 50vw;
  height: 100vh;
}

.lado-derecho {
  width: 50vw;
  height: 100vh;
  background-color: white;
}

.cuadro {
  position: absolute;
  bottom: 0;
  left: 0;
}

.fondo-amarillo {
  background-color: #fde047; 
  width: 40%;
  height: 40%;
}

.fondo-celeste {
  background-color: #7dd3fc; 
  width: 30%;
  height: 30%;
}

.fondo-verde {
  background-color: #4ade80; 
  width: 20%;
  height: 20%;
}

.fondo-rosado {
  background-color: #f472b6;
  width: 10%;
  height: 10%;
}
